.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputSection{
    display: flex;
    justify-content: center;
}

.button{
    margin-top: 0px;
    padding: 10px 20px;
    font-weight: 700;
    background-color: #FF3366;
    color: #eee;
    border: none;
    border-radius: 10px;
    transition: 0.3s ease;
}

.button:active{
    background-color:#232323;
}

.button:disabled{
    background-color: #aaa;
}
