.inputControl{
    position: relative;
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.inputTitle{
    font-size: 1.1em;
    color: #FF3366;
}

.label{
    width: 80%;
    text-align: center;
    font-size: 0.7em;
}

.input{
    width: 75%;
    margin: 5px;
    padding: 5px;
    background-color: #F6F7F8;
    color: #232323;
    border: none;
    border-radius: 10px;
    outline: 1px solid #232323;
    text-align: center;
}

.input:hover{
    outline: 1px solid #FF3366;
}
.input:focus{
    outline: 1px solid #FF3366;
}

/* Remover Setas do input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.error{
    width: 100%;
    font-size: 0.7em;
    font-style: italic;
    text-align: center;
    color: red;
}

@media (max-width: 768px){
    .inputTitle{
        font-size: 0.9em;
    }
    .label{
        font-size: 0.6em;
    }
    .input{
        width: 100%;
    }
}
@media (max-width: 470px){
    .inputControl{
        width: 50%;
        padding: 10px;
    }
}
