.title, .desc{
  text-align: center;
}

.container{
  width: 50%;
  margin: 0 auto;
}

.title{
  margin: 20px;
  font-size: 2em;
  color: #FF3366;
}

.desc{
  width: 80%;
  margin: 40px auto;
  color: #F6F7F8;
  text-shadow: 0 0 3px #000;
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1024px){
  .container{
    width: 70%;
  }
}

@media (max-width: 768px){
  .container{
      width: 100%;
  }
}