.container{
    width: 50%;
    margin: 0 auto;
}

.title{
    margin: 20px;
    font-size: 2em;
    color: #FF3366;
    text-align: center;
}

.desc{
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.list li{
    font-size: 1.2em;
    text-align: left;
}

.button{
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-weight: 700;
    background-color: #FF3366;
    color: #eee;
    border: none;
    border-radius: 10px;
    transition: 0.3s ease;
}

.button:active{
    background-color:#232323;
}

@media (min-width: 768px) and (max-width: 1024px){
    .container{
      width: 70%;
    }
  }
  
  @media (max-width: 768px){
    .container{
        width: 100%;
    }
  }