.modal{
    width: 100%;
    padding: 20px;
    border: 3px solid #FF3366;
    border-radius: 20px;
    background-color: #F6F7F8;
}

@media (max-width: 470px){
    .modal{
        padding: 10px;
    }
}