.loading{
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
}
.loading:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;  
    margin-top: -85px;
    margin-left: -85px; 
    border-radius: 50%;
    border: 10px solid black;
    border-color: black transparent black transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to{
        transform: rotate(1turn);
    }
}

@media (max-width: 768px){
    .loading:after{
        width: 100px;
        height: 100px;
        margin-top: -60px;
        margin-left: -60px;
    }
}